* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    height: 800px;
    margin: 0 auto;
    padding-top: 30px;
}

.row{
    width: 100%;
    margin: 0 auto;
}

/* CSS Card */
.card {
    width: calc(100% / 3 - 3px);
    display: inline-block;
}

.card:hover .visible-img {
    display: none;
}

.box-img {
    position: relative;
    margin-bottom: 5px;
}

.card-img{
    width: 100%;
}

.visible-img {
    position: absolute;
}

/* Descrizione Prodotto */
.heart {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 5px 10px;
    background-color: white;
}

.percentual-of-discount, .sostenibility {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 3px;
    font-size: 0.6em;
    font-family: sans-serif;
    color: white;
}

.percentual-of-discount {
    background-color: red;
}

.sostenibility {
    background-color: rgb(3, 148, 3);
    left: 30px;
}

.font-style {
    font-family: sans-serif;
}

.brand, .price{
    font-size: 10px;
}

.discount-price {
    font-weight: 900;
    color: red;
}

.full-price {
    text-decoration: line-through;
}
